@media (max-width: 1750px) {

  /* h1, h2 {
    font-size: 80%; 
  } */

  .radio-item {
    margin-top: 120px; 
  }
  /* #play-pause-button {
    height: 300%;
  } */

  /* ul { */
    /* display: grid; */
    /* grid-template-columns: repeat(1, 1fr);  */
  /* } */

}

body {
    font-family: sans-serif;
    color: black;
    /* display: flex; */
    /* align-items: flex-end; */
    
}




  
  
  header {
    /* background-color: #eeeeee; */
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(170deg, green, green, green, white, red, red, red);
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    border-radius: 25px;
    box-shadow: 0px 13px 30px black;
    border: 3px solid black;
    /* text-align: right; */
    /* align-items: center; */
    /* top: 20px; */
    /* right: 0; */

    
  }
  #radios {
    color: #000000;
    border: none;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 0;
  }
  
  #home-button {
    color: #000000;
    border: none;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  .settings-container { /* column slider*/
    display: flex;
    flex-direction: row;
    justify-content: center; /* Center items horizontally */
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .search-container {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
  }
  
  #search-input {
    width: 150px;
    height: 20px;
    font-size: 1rem;
    /* padding: 5px; */
  }
  
  #search-button {
    /* background-color: #007bff; */
    color: #000000;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    cursor: pointer;
    /* width: 70px; */
    height: 30px;
    text-align: center;
    margin-left: 5px;
    margin-right: 0;
  }
  
  #search-button:hover, #home-button:hover, #radios:hover {
    background-color: #408fe3;
  }
  
  
  .station.hidden {
    display: none;
  }

  
  
  
  h1 {
    /* font-size: 2em; */
    margin-top: 0px;
    font-weight: bold;
    color: black;
    /* font-size: 460%; */

  }
  
  h2 {
    margin-top: 30px;
    /* font-size: 2em; */
    font-weight: bold;
    color: black;
    /* font-size: 460%; */

  }

  h1, h2 {
    /* margin-top: 50px; */
    margin-bottom: 0px;
    font-size: min(6.2vw, 82px);
  }
  

  main {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;

    
  }
  
  ul {
    /* list-style: none; */
    margin: 0;
    padding: 0px;
    
    /* display: flex; */

  }
  


  #play-pause-button {
    display: block;
    width: 100%;
    /* height: 140px; */
    padding: 10px;
    background-color: #ededed;
    bottom: -20px;
    left: 0;
    right: 0;
    position: fixed;
    /* border-top-left-radius : 35px; */
    /* border-top-right-radius : 35px; */
    /* box-shadow : 0 -5px 10px black; */
    /* box-shadow: 0 -25px 50px black; */
    border-top: 2px solid black;

    /* font-size: 500%; */
    font-weight: bold;
    color: #000000;

  }
  #play-pause-button img {
    vertical-align: middle;
    padding-right: 10px;
    width: 100px; 
    height: 100px;
    padding-bottom: 30px;
  }

  #play-pause-button img, #play-pause-button span {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  
  footer {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
  }
  
  p {
    margin: 0;
  }


  
  


  .radio-item {
    display: flex;
    /* width: 140px; */
    min-width: 650px;
    /* align-items: flex-end; */
    background-color: white;
    box-shadow: 0 0 10px black;
    border: 2px solid black;
    border-radius: 15px;
    height: 140px;
    cursor: pointer;
    position: relative; 
    /* align-items: center;
    align-self: centers; */
    /* margin-bottom: 25px;  */
    margin: 5px;
    /* margin-right: 10px;  */
    margin-top: 20px; 
    /* margin-left: 10px;  */
  }


  
  .radio-item:hover {
    background-color: #ececec;
    
  }
  
  .radio-item.playing {
    background-color: #d7d7d7; 
    /* box-shadow: 0 0 20px black; */
  }
  
  .radio-cover {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 0 10px black;
    border-width: 1px;
    position: absolute; 
    /* position: relative;  */
    left: 0; /* added */
  }

  .radio-cover.playing {
    /* box-shadow: 0 0 30px green; */
    visibility: hidden;
    /* display: none; */
    /* background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/480px-Speaker_Icon.png'); */
  }
  
  .radio-photo-div {
    /* width: 30%; */
    width: 140px;
    height: 140px;
    /* background-color: #dadada; */
    /* box-shadow: 0 0 20px rgb(106, 23, 23); */
    border-radius: 15px;
    /* background-image: 'pause.png'; */
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/Speaker_Icon.svg/480px-Speaker_Icon.png');
    background-size: cover;
    background-position: center;

    /* justify-content: space-between; */
    /* direction: rtl; for the foreign language text */
  }
  
  .english-name {
    /* font-size: 260%; */
    font-size: min(5vw, 40px);
    font-weight: bold;
    margin-left: 5px;
    padding-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    /* box-shadow: 0 0 3px black; */
    align-self: flex-start;
  }
  
  .farsi-name {
    /* width: 400px; */
    /* height: 60px !important; */
    /* font-size: 220%; */
    font-size: min(6.5vw, 66px);
    margin-bottom: 10px;
    font-weight: bold;
    /* padding-top: 15px; */
    /* margin: 5px; */
    /* margin-left: 100px; */
    margin-left: auto;
    /* box-shadow: 0 0 3px black; */
    align-self: flex-end;
  }
  
  li::after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    /* background-image: url(https://example.com/speaker-icon.png); */
    background-size: cover;
  }

  li.playing::after {
    display: inline-block;
  }




  /* #pause-icon-container {
    
  } */
    

    /* create 2 columns, each taking up 1 fraction of the available space */
   /* 1150 */
/* @media (min-width: 1050px) {
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
  
  .english-name {

    font-size: min(2vw, 40px);
  }

  .farsi-name {
    font-size: min(3.1vw, 65px);
  }

  .radio-item {
    min-width: 455px;
  }
}
*/
/* @media (max-width: 1050px) {
  .radio-item { 
    margin-top: 20px; 
  }

  .radio-photo-div, .radio-cover, .radio-item {
    height: 150px;
  }
  .radio-photo-div, .radio-cover {
    width: 150px;
  }

} */




/* dark mode support */

@media (prefers-color-scheme: light) {
  body {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #282828;
  }

  .radio-item {
    background-color: #e8e8e8;
  }

  .radio-item:hover {
    background-color: #b8b8b8;
    
  }
  
  .radio-item.playing {
    background-color: #a9a9a9; 
    /* box-shadow: 0 0 20px black; */
  }

  #play-pause-button {
    /* border-color: white; */
    /* box-shadow : 0 5px 20px rgba(255, 255, 255, 0); */
    background-color: #e8e8e8;

  }

}



@media only screen and (orientation: landscape) {
  #search-input {
    width: 400px;
    height: 30px;
  }
  
  h1, h2 {
    margin-top: 0;
    font-size: min(3.2vw, 62px);
  }
  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
  }
  .english-name {
    font-size: min(2vw, 34px);
    margin-top: 0px;
  }

  .farsi-name {
    font-size: min(3.3vw, 58px);
    margin-bottom: 3px;
  }

  .radio-item {
    min-width: 350px;
  }
  .radio-item { 
    margin-top: 10px;
    /* margin-bottom: 0; */
    margin-right: 15px;
    margin-left: 0px;
  }
  .radio-photo-div, .radio-cover, .radio-item {
    height: min(7vw, 120px)
  }
  .radio-photo-div, .radio-cover {
    width: min(7vw, 120px)
  }
  #play-pause-button img {
    width: 70px; 
    height: 70px;
  } 
}




