body {
    font-family: sans-serif;
    color: #333333;
  }
  
  header {
    background-color: #eeeeee;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
    font-size: 2em;
    font-weight: bold;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #444444;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #666666;
  }
  
  footer {
    background-color: #eeeeee;
    padding: 20px;
    text-align: center;
  }
  
  p {
    margin: 0;
  }

  /* div {
    box-shadow: 0 0 13px rgb(222, 11, 11);
    border: 2px solid black; debugging prob
  } */


  .radio-item {
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 3px black;
    border: 2px solid black;
    border-radius: 15px;
    height: 140px;
    cursor: pointer;
    position: relative; 
  }
  
  .radio-item:hover {
    background-color: #f2f2f2;
    
  }
  
  .radio-item.playing {
    background-color: #d7d7d7; 
  }
  
  .radio-cover {
    width: 140px;
    height: 140px;
    border-radius: 15px;
    box-shadow: 0 0 20px black, 0 0 20px black;
    position: absolute; 
    /* position: relative;  */
    left: 0; /* added */
  }
  
  .radio-photo {
    /* width: 30%; */
    width: 140px;
    height: 140px;
    border-radius: 15px;
  }
  
  .english-name {
    font-size: 100%;
    font-weight: bold;
    margin: 20px;
    box-shadow: 0 0 3px black;
    align-self: flex-start;
  }
  
  .farsi-name {
    font-size: 100%;
    font-weight: bold;
    /* align-items: stretch; */
    margin: 20px;
    box-shadow: 0 0 3px black;
    align-self: flex-end;
  }
  