body {
  font-family: sans-serif;
  /* color: rgb(255, 255, 255); */
  /* background: linear-gradient(170deg, green, green, green, white, red, red, red);  */
  background: #282828;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.search-container {
  text-align: center;
  margin-top: 20px;
  font-size: 1.5rem;
}

#search-input {
  width: 200px;
  height: 20px;
  font-size: 1.5rem;
  padding: 5px;
}

#search-button {
  /* background-color: #007bff; */
  /* color: #fff; */
  border: none;
  padding: 10px;
  /* height: 20px; */
  font-size: 1rem;
  cursor: pointer;
  width: 100px;
  height: 33px;
}

#search-button:hover {
  background-color: #0069d9;
}



.station.hidden {
  display: none;
}


h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #ffffff;
}

.tv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.station {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 650px;
  height: 140px;
  margin: 5px;
  margin-top: 20px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  position: relative;
}

.english-name {
  font-size: min(5vw, 40px);
  font-weight: bold;
  margin-left: 5px;
  padding-left: 10px;
  margin-top: 10px;
  padding-top: 10px;
  align-self: flex-start;
}

.farsi-name {
  font-size: min(6.5vw, 66px);
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  align-self: flex-end;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
  .station {
    min-width: unset;
    width: 100%;
  }

  .english-name {
    font-size: min(7vw, 40px);
  }

  .farsi-name {
    font-size: min(10vw, 66px);
  }
}

.tv-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr); 
}


@media only screen and (orientation: landscape) {
  .tv-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-column-gap: 40px;
    padding: 30px;
  }
  #search-input {
    width: 400px;
  }
}