
header {
  /* background-color: #eeeeee; */
  padding-left: 10px;
  padding-right: 10px;
  background: linear-gradient(150deg, green, green, green, white, red, red, red);
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  border-radius: 25px;
  box-shadow: 0px 13px 30px black;
  border: 3px solid black;
}

body {
  font-family: sans-serif;
  /* color: rgb(255, 255, 255); */
  /* background: linear-gradient(170deg, green, green, green, white, red, red, red);  */
  background: #282828;
}

.container {
  /* max-width: 1900px; */
  margin: 0 auto;
  padding: 5px;
}

#radios {
  color: #000000;
  border: none;
  text-align: center;
  height: 30px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 0;
}

#home-button {
  color: #000000;
  border: none;
  height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 5px;
  margin-right: 5px;
}

.settings-container { /* column slider*/
  display: flex;
  flex-direction: row;
  justify-content: center; /* Center items horizontally */
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.search-container {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1rem;
}

#search-input {
  width: 150px;
  height: 20px;
  font-size: 1rem;
  /* padding: 5px; */
}

#search-button {
  /* background-color: #007bff; */
  color: #000000;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  cursor: pointer;
  /* width: 70px; */
  height: 30px;
  text-align: center;
  margin-left: 5px;
  margin-right: 0;
}

#search-button:hover, #home-button:hover, #radios:hover {
  background-color: #408fe3;
}

.station.hidden {
  display: none;
}


h1 {
  font-size: 5vw;
  margin: 5px;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 5vw;
  margin: 5px;
  font-weight: bold;
  color: black;
}

.tv-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.station {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* min-width: 650px; */
  /* height: 140px; */
  margin: 5px;
  margin-top: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 15px;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  position: relative;
}

:root {
  --columns: 2;
  --font-size: calc(1.8em - var(--columns) * .3em);
}


.english-name {
  font-size: var(--font-size);
  font-weight: bold;
  align-self: flex-start;
  padding-left: 5px;
}

.farsi-name {
  font-size: calc(var(--font-size) + .1em);
  font-weight: bold;
  margin-left: auto;
  align-self: flex-end;
  padding-right: 5px;
}

.tv-list {
  display: grid;
  grid-template-columns: repeat(var(--columns, 2), 1fr);
}








@media only screen and (orientation: landscape) {

  :root {
    --columns: 2;
    --font-size: calc(3.5em - var(--columns) * .4em);
  }

  .station {
    margin: 15px;
    margin-top: 35px;
  }

  #search-input {
    width: 400px;
    height: 30px;
  }

  h1 {
    font-size: 2.5vw;
  }
  
  h2 {
    font-size: 2.5vw;
  }

  .english-name {
    font-size: calc(var(--font-size));
  }
  
  .farsi-name {
    font-size: calc(var(--font-size));
  }
}